html
{
	background-color: #224D5F;
	background: -webkit-gradient(linear, left center, right center, from(#224D5F),color-stop(100%, #000000));
	background: -webkit-linear-gradient(left,#224D5F ,#000000 100%);
	background: -moz-linear-gradient(left,#224D5F ,#000000 100%);
	background: -ms-linear-gradient(left,#224D5F ,#000000 100%);
	background: -o-linear-gradient(left,#224D5F ,#000000 100%);
	background: linear-gradient(to right,#224D5F ,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF224D5F, endColorstr=#FF000000, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF224D5F', endColorstr='#FF000000', GradientType=1)";
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	background-image: none;
	border-style: none;
	border-color: #0000FF;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.37);
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	-khtml-border-radius: 12px;
	border-radius: 12px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -40px;
	margin-bottom: 62px;
}

#ppu146
{
	width: 0.01px;
	margin-left: 5px;
	position: relative;
}

#pu146
{
	z-index: 17;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 138px;
	left: 42px;
}

#u146
{
	z-index: 0;
	width: 892px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pmenuu318
{
	width: 0.01px;
	position: relative;
	left: 205px;
	padding-top: 3px;
	z-index: 2;
	padding-bottom: 4px;
}

#menuu318
{
	z-index: 20;
	width: 444px;
	margin-right: -10000px;
}

#u333
{
	width: 109px;
	min-height: 20px;
	margin-right: -10000px;
}

#u336
{
	width: 109px;
	padding-bottom: 3px;
}

#u336:hover
{
	margin: 0px;
}

#u336:active
{
	margin: 0px;
}

#u337-4
{
	width: 109px;
	min-height: 17px;
	margin-right: -10000px;
	top: 1px;
}

#u336:hover #u337-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u336:active #u337-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u340
{
	width: 109px;
	min-height: 20px;
	margin-right: -10000px;
	left: 111px;
}

#u343
{
	width: 109px;
	padding-bottom: 3px;
}

#u336.MuseMenuActive,#u343:hover
{
	margin: 0px;
}

#u343:active
{
	margin: 0px;
}

#u345-4
{
	width: 109px;
	min-height: 17px;
	margin-right: -10000px;
	top: 1px;
}

#u336.MuseMenuActive #u337-4,#u343:hover #u345-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u343:active #u345-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u326
{
	width: 110px;
	min-height: 20px;
	margin-right: -10000px;
	left: 222px;
}

#u327
{
	width: 110px;
	padding-bottom: 3px;
}

#u343.MuseMenuActive,#u327:hover
{
	margin: 0px;
}

#u327:active
{
	margin: 0px;
}

#u329-4
{
	width: 110px;
	min-height: 17px;
	margin-right: -10000px;
	top: 1px;
}

#u343.MuseMenuActive #u345-4,#u327:hover #u329-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u327:active #u329-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u397
{
	width: 110px;
	min-height: 20px;
	margin-right: -10000px;
	left: 334px;
}

#u400
{
	width: 110px;
	padding-bottom: 3px;
}

#u327.MuseMenuActive,#u400:hover
{
	margin: 0px;
}

#u400:active
{
	margin: 0px;
}

#u400.MuseMenuActive
{
	margin: 0px;
}

#u401-4
{
	width: 110px;
	min-height: 17px;
	margin-right: -10000px;
	top: 1px;
}

#u327.MuseMenuActive #u329-4,#u400:hover #u401-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u400:active #u401-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u400.MuseMenuActive #u401-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u163
{
	z-index: 2;
	width: 907px;
	margin-right: -10000px;
	margin-top: 60px;
	left: 15px;
	padding: 5px 4px 7px 8px;
}

#u144-6
{
	z-index: 4;
	width: 412px;
	min-height: 52px;
}

#u161
{
	z-index: 3;
	width: 865px;
	height: 14px;
	margin-left: 40px;
	margin-top: 35px;
}

#u155
{
	z-index: 18;
	margin-bottom: -9px;
	width: 254px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 779px;
}

#u1290
{
	z-index: 45;
	width: 212px;
	min-height: 22px;
	margin-right: -10000px;
}

#u145-7
{
	z-index: 10;
	width: 200px;
	margin-left: 29px;
	margin-top: 39px;
}

#ppu181-10
{
	width: 0.01px;
	margin-left: 42px;
	margin-top: 34px;
	position: relative;
}

#pu181-10
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 299px;
}

#u181-10
{
	z-index: 101;
	width: 254px;
	min-height: 170px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #DEDEDE;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
}

#u182
{
	z-index: 111;
	display: block;
	vertical-align: top;
	margin-bottom: -9px;
	position: relative;
	width: 104px;
	margin-right: -10000px;
	margin-top: 84px;
	left: 184px;
}

#u165-12
{
	z-index: 87;
	width: 254px;
	min-height: 170px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #DEDEDE;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
}

#u181-8,#u165-10
{
	font-size: 29px;
	text-align: left;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u166
{
	z-index: 99;
	display: block;
	vertical-align: top;
	position: relative;
	width: 132px;
	margin-right: -10000px;
	margin-top: 102px;
	left: 175px;
}

#u187-12
{
	z-index: 113;
	width: 254px;
	min-height: 170px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #DEDEDE;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	left: 607px;
}

#u181-3,#u181-5,#u165-3,#u165-5,#u165-7,#u187-3
{
	font-size: 29px;
	text-align: left;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u187-6
{
	font-size: 29px;
	text-align: left;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u181-8  span,#u165-10  span,#u187-6  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u187-8,#u187-10
{
	font-size: 29px;
	text-align: left;
}

#u181-7,#u165-9,#u187-5,#u187-7,#u187-9
{
	font-size: 14px;
	color: #7F7F7F;
}

#u188
{
	z-index: 125;
	margin-bottom: -9px;
	position: relative;
	width: 120px;
	margin-right: -10000px;
	margin-top: 88px;
	left: 798px;
}

#u188_img
{
	display: block;
	vertical-align: top;
}

#pu164-16
{
	width: 0.01px;
	margin-left: 42px;
	margin-top: 3px;
	position: relative;
}

#u164-16
{
	z-index: 71;
	width: 365px;
	min-height: 233px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	background-color: #DEDEDE;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
}

#u164-2
{
	font-size: 25px;
	text-align: center;
	color: #0000FF;
}

#u164-3
{
	text-align: center;
}

#u164-6,#u164-7,#u164-10,#u164-11,#u164-14
{
	font-size: 20px;
	text-align: left;
	text-indent: 19px;
}

#u162-25
{
	z-index: 46;
	width: 491px;
	min-height: 220px;
	position: relative;
	margin-right: -10000px;
	left: 398px;
}

#u162-2
{
	font-size: 25px;
	color: #0000FF;
	font-weight: bold;
}

#u162-14,#u162-18,#u162-19,#u162-21
{
	color: #29ABE2;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

