#u146
{
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.98);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.98);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.98);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.21;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=21)";
	filter: alpha(opacity=21);
}

#menuu318
{
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	-khtml-border-radius: 18px;
	border-radius: 18px;
	position: relative;
}

#u336
{
	background-color: #2E3192;
	position: relative;
}

#u336:hover
{
	background-color: #0071BC;
}

#u336:active
{
	background-color: #6B6B6B;
}

#u337-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u343
{
	background-color: #2E3192;
	position: relative;
}

#u336.MuseMenuActive,#u343:hover
{
	background-color: #0071BC;
}

#u343:active
{
	background-color: #6B6B6B;
}

#u345-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u327
{
	background-color: #2E3192;
	position: relative;
}

#u343.MuseMenuActive,#u327:hover
{
	background-color: #0071BC;
}

#u327:active
{
	background-color: #6B6B6B;
}

#u329-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u400
{
	background-color: #2E3192;
	position: relative;
}

#u327.MuseMenuActive,#u400:hover
{
	background-color: #0071BC;
}

#u400:active
{
	background-color: #6B6B6B;
}

#u400.MuseMenuActive
{
	background-color: #0071BC;
}

#u401-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u336.MuseMenuActive #u337-4,#u343.MuseMenuActive #u345-4,#u327.MuseMenuActive #u329-4,#u400.MuseMenuActive #u401-4
{
	border-style: none;
	border-color: transparent;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u163
{
	-pie-box-shadow: 6px 6px 8px #AAAAAA;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.33);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.33);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.33);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	position: relative;
	background: #1B1464 url("../images/idice.png") no-repeat left center;
}

#u144-6
{
	font-size: 17px;
	position: relative;
}

#u144-2
{
	color: #FFFFFF;
}

#u144-4
{
	color: #A2CAE4;
}

#u161
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FCEE21;
	opacity: 0.42;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=42)";
	filter: alpha(opacity=42);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	position: relative;
}

#u155
{
	display: block;
	vertical-align: top;
	position: relative;
}

#u1290
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u333,#u340,#u326,#u397,#u145-7
{
	position: relative;
}

#u145-2
{
	font-size: 20px;
}

#u145-4
{
	color: #0071BC;
}

