@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

html
{
	background-color: #0071BC;
	background: -webkit-gradient(linear, left center, right center, from(#0071BC),color-stop(100%, #7F7F7F));
	background: -webkit-linear-gradient(left,#0071BC ,#7F7F7F 100%);
	background: -moz-linear-gradient(left,#0071BC ,#7F7F7F 100%);
	background: -ms-linear-gradient(left,#0071BC ,#7F7F7F 100%);
	background: -o-linear-gradient(left,#0071BC ,#7F7F7F 100%);
	background: linear-gradient(to right,#0071BC ,#7F7F7F 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0071BC, endColorstr=#FF7F7F7F, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0071BC', endColorstr='#FF7F7F7F', GradientType=1)";
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1023.5527809930811px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.79);
	-moz-border-radius: 29px;
	-webkit-border-radius: 29px;
	-khtml-border-radius: 29px;
	border-radius: 29px;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-top: 2px;
	margin-bottom: 50px;
}

#pu666
{
	width: 0.01px;
	margin-left: 10px;
	position: relative;
}

#u666
{
	z-index: 2;
	width: 748px;
	margin-right: -10000px;
	margin-top: 17px;
}

#u666_position_content
{
	margin-top: 14px;
}

#u668-6
{
	z-index: 4;
	width: 412px;
	min-height: 52px;
	margin-left: 14px;
}

#u667
{
	z-index: 3;
	width: 704px;
	height: 11px;
	margin-left: 39px;
	margin-top: 13px;
}

#u670
{
	z-index: 17;
	width: 726px;
	height: 23px;
	margin-right: -10000px;
	margin-top: 84px;
	left: 15px;
}

#u672
{
	z-index: 18;
	margin-bottom: -9px;
	width: 209px;
	margin-right: -10000px;
	left: 599px;
}

#u669-7
{
	z-index: 10;
	width: 200px;
	margin-left: 17px;
	top: -8px;
	margin-bottom: -8px;
}

#u996-3
{
	z-index: 45;
	width: 12px;
	min-height: 12px;
	margin-left: 194px;
	top: -7px;
	margin-bottom: -7px;
}

#u1112
{
	z-index: 48;
	width: 715px;
	min-height: 1143px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 27px;
	margin-top: 4px;
	position: relative;
}

#menuu952
{
	z-index: 20;
	width: 750px;
	margin-left: 9px;
	top: -4px;
	margin-bottom: -4px;
}

#u989
{
	width: 186px;
	min-height: 75px;
	margin-right: -10000px;
}

#u992
{
	width: 186px;
	padding-bottom: 50px;
}

#u992:hover
{
	margin: 0px;
}

#u992:active
{
	margin: 0px;
}

#u994-4
{
	width: 186px;
	min-height: 25px;
	margin-right: -10000px;
	top: 25px;
}

#u992:hover #u994-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u992:active #u994-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u953
{
	width: 186px;
	min-height: 75px;
	margin-right: -10000px;
	left: 188px;
}

#u954
{
	width: 186px;
	padding-bottom: 50px;
}

#u992.MuseMenuActive,#u954:hover
{
	margin: 0px;
}

#u954:active
{
	margin: 0px;
}

#u956-4
{
	width: 186px;
	min-height: 25px;
	margin-right: -10000px;
	top: 25px;
}

#u992.MuseMenuActive #u994-4,#u954:hover #u956-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u954:active #u956-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u982
{
	width: 186px;
	min-height: 75px;
	margin-right: -10000px;
	left: 376px;
}

#u983
{
	width: 186px;
	padding-bottom: 50px;
}

#u954.MuseMenuActive,#u983:hover
{
	margin: 0px;
}

#u983:active
{
	margin: 0px;
}

#u985-4
{
	width: 186px;
	min-height: 25px;
	margin-right: -10000px;
	top: 25px;
}

#u954.MuseMenuActive #u956-4,#u983:hover #u985-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u983:active #u985-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u975
{
	width: 186px;
	min-height: 75px;
	margin-right: -10000px;
	left: 564px;
}

#u978
{
	width: 186px;
	padding-bottom: 50px;
}

#u983.MuseMenuActive,#u978:hover
{
	margin: 0px;
}

#u978:active
{
	margin: 0px;
}

#u978.MuseMenuActive
{
	margin: 0px;
}

#u979-4
{
	width: 186px;
	min-height: 25px;
	margin-right: -10000px;
	top: 25px;
}

#u983.MuseMenuActive #u985-4,#u978:hover #u979-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u978:active #u979-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u978.MuseMenuActive #u979-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#page .verticalspacer
{
	clear: both;
}

