#u666
{
	-pie-box-shadow: 6px 6px 8px #AAAAAA;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.33);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.33);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.33);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	position: relative;
	background: #1B1464 url("../../images/idice.png") no-repeat right center;
}

#u668-6
{
	font-size: 21px;
	position: relative;
}

#u668-2
{
	color: #FFFFFF;
}

#u668-4
{
	color: #A2CAE4;
}

#u667
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FCEE21;
	opacity: 0.42;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=42)";
	filter: alpha(opacity=42);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	position: relative;
}

#u670
{
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.98);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.98);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.98);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.21;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=21)";
	filter: alpha(opacity=21);
	position: relative;
}

#u672
{
	display: block;
	vertical-align: top;
	position: relative;
}

#u669-2
{
	font-size: 23px;
}

#u669-5
{
	font-size: 17px;
}

#u669-4
{
	color: #0071BC;
}

#menuu952
{
	-pie-box-shadow: none;
	-moz-box-shadow: 10px 15px 50px #000000;
	-webkit-box-shadow: 10px 15px 50px -1px #000000;
	box-shadow: 10px 15px 50px #000000;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.6);
	-moz-border-radius: 22px;
	-webkit-border-radius: 22px;
	-khtml-border-radius: 22px;
	border-radius: 22px;
	position: relative;
	-pie-background: rgba(255, 255, 255, 0.6);
}

#u992
{
	background-color: #2E3192;
	position: relative;
}

#u992:hover
{
	background-color: #0071BC;
}

#u992:active
{
	background-color: #6B6B6B;
}

#u994-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 21px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u954
{
	background-color: #2E3192;
	position: relative;
}

#u992.MuseMenuActive,#u954:hover
{
	background-color: #0071BC;
}

#u954:active
{
	background-color: #6B6B6B;
}

#u956-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 21px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u983
{
	background-color: #2E3192;
	position: relative;
}

#u954.MuseMenuActive,#u983:hover
{
	background-color: #0071BC;
}

#u983:active
{
	background-color: #6B6B6B;
}

#u985-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 21px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u669-7,#u996-3,#u989,#u953,#u982,#u975
{
	position: relative;
}

#u978
{
	background-color: #2E3192;
	position: relative;
}

#u983.MuseMenuActive,#u978:hover
{
	background-color: #0071BC;
}

#u978:active
{
	background-color: #6B6B6B;
}

#u978.MuseMenuActive
{
	background-color: #0071BC;
}

#u979-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 21px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u992.MuseMenuActive #u994-4,#u954.MuseMenuActive #u956-4,#u983.MuseMenuActive #u985-4,#u978.MuseMenuActive #u979-4
{
	border-style: none;
	border-color: transparent;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

